checkin-html/public/dashboard.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li> <a href="appointment.html" class="menu-itm"><img src="images/promotion_ico.png" alt>Appointment</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="container-fluid">
          <div class="content-head clearfix">
            <h1 class="text-capitalize pull-left">Dashboard</h1>
          </div>
          <div class="dashboard-content">
            <div class="general-info">
              <div class="row">
                <div class="col-md-2 col-xs-12">
                  <div class="g-img"><img src="images/logo1.png" alt></div>
                </div>
                <div class="col-md-10 col-xs-12">
                  <div class="info-ct">
                    <h3>Konald Nails</h3>
                    <p class="st-child">
                       
                      Since September 2016 | <a href="#">View profile</a>
                    </p>
                    <p> <span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span>4.5 (250 rating) | <a href="#">See all review</a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- END GENERAL INFO-->
            <div class="overview-blk">
              <div class="ttl clearfix">
                <h3 class="pull-left">Overview</h3>
                <div class="time-range pull-right text-right">
                  <button class="time-btn">Overall</button>
                  <button class="time-btn">Week</button>
                  <button class="time-btn">Month</button>
                </div>
              </div>
              <div class="overview-list">
                <div class="row">
                  <div class="col-md-3 col-xs-6">
                    <div class="overview-itm">
                      <h3 class="text-uppercase">Total member</h3><strong>5000</strong>
                      <p>
                         
                        Vip - <span>250 members</span>
                      </p>
                      <p>New - <span>850 members</span></p>
                      <p>Regular - <span>3,500 members</span></p>
                      <p>
                         
                        At risk - <span>500 members</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <div class="overview-itm">
                      <h3 class="text-uppercase">Total promo</h3><strong>15</strong>
                      <p>
                         
                        15 - <span>Promotion</span>
                      </p>
                      <p>20 - <span>Reminder</span></p>
                      <p>3 - <span>Special day offer</span></p>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <div class="overview-itm">
                      <h3 class="text-uppercase">You delivered</h3><strong>40,000</strong>
                      <p>
                         
                        Claim - <span>28,000</span>
                      </p>
                      <p>Redemtion - <span>19,000</span></p>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <div class="overview-itm">
                      <h3 class="text-uppercase">Your income</h3><strong>$200,000</strong>
                      <p>
                         
                        Expense - <span>$88,000</span>
                      </p>
                      <div class="chrt-ct"><span>62%</span>
                        <div data-bgcolor="#ddd" data-linecolor="#75db79" data-line="5" data-size="70" draw-canvas="" data-percent="62" class="chrt"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: OVERVIEW BLOCK-->
            <div class="overall-chart clearfix">
              <h3>Customer overall</h3>
              <div class="ttl clearfix">
                <p class="pull-left">Jun 1 - Jun 15</p>
                <div class="time-range pull-right text-right">
                  <button class="time-btn">Day</button>
                  <button class="time-btn">Week</button>
                  <button class="time-btn">Month</button>
                </div>
              </div>
              <div id="overall-chart"></div>
            </div>
            <div class="reve-chart clearfix">
              <h3>Revenue and expense overall</h3>
              <div class="ttl clearfix">
                <p class="pull-left">Jun 1 - Jun 15</p>
                <div class="time-range pull-right text-right">
                  <button class="time-btn">Day</button>
                  <button class="time-btn">Week</button>
                  <button class="time-btn">Month</button>
                </div>
              </div>
              <div id="reve-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

checkin-html/source/views/dashboard.jade
block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .content-head.clearfix
                h1.text-capitalize.pull-left
                    | Dashboard
            .dashboard-content
                .general-info
                    .row
                        .col-md-2.col-xs-12
                            .g-img
                                img(src="images/logo1.png", alt)
                        .col-md-10.col-xs-12
                            .info-ct
                                h3 Konald Nails
                                p.st-child 
                                    | Since September 2016 | 
                                    a(href="#") View profile
                                p 
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    | 4.5 (250 rating) | 
                                    a(href="#") See all review
                // END GENERAL INFO
                .overview-blk
                    .ttl.clearfix
                        h3.pull-left Overview
                        .time-range.pull-right.text-right
                            button.time-btn Overall
                            button.time-btn Week
                            button.time-btn Month
                    .overview-list
                        .row
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase Total member
                                    strong 5000
                                    p 
                                        | Vip - 
                                        span 250 members
                                    p
                                        | New - 
                                        span 850 members
                                    p
                                        | Regular - 
                                        span 3,500 members
                                    p 
                                        | At risk - 
                                        span 500 members
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase Total promo
                                    strong 15
                                    p 
                                        | 15 - 
                                        span Promotion
                                    p
                                        | 20 - 
                                        span Reminder
                                    p
                                        | 3 - 
                                        span Special day offer
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase You delivered
                                    strong 40,000
                                    p 
                                        | Claim - 
                                        span 28,000
                                    p
                                        | Redemtion - 
                                        span 19,000
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase Your income
                                    strong $200,000
                                    p 
                                        | Expense - 
                                        span $88,000
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                // END: OVERVIEW BLOCK
                .overall-chart.clearfix
                    h3 Customer overall
                    .ttl.clearfix
                        p.pull-left
                            | Jun 1 - Jun 15
                        .time-range.pull-right.text-right
                            button.time-btn Day
                            button.time-btn Week
                            button.time-btn Month
                    #overall-chart
                .reve-chart.clearfix
                    h3 Revenue and expense overall
                    .ttl.clearfix
                        p.pull-left
                            | Jun 1 - Jun 15
                        .time-range.pull-right.text-right
                            button.time-btn Day
                            button.time-btn Week
                            button.time-btn Month
                    #reve-chart
