checkin-html/source/views/login.jade
block vars
  -title="Home Page"
extends layouts/layout-login
block main
    .login-content
        .login-frm
            h1.text-center GoCheckin
            form
                .row
                    .col-md-6.col-xs-12
                        input.form-control(type="text", placeholder="Domain")
                    .col-md-6.col-xs-12
                        input.form-control(type="text", value=".fastboy.net")
                .form-group
                    input.form-control(type="text", placeholder="Email")
                .form-group
                    input.form-control(type="password", placeholder="Password")
                button.submit-login Login

checkin-html/public/login.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <section class="main">
      <div class="login-content">
        <div class="login-frm">
          <h1 class="text-center">GoCheckin</h1>
          <form>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <input type="text" placeholder="Domain" class="form-control">
              </div>
              <div class="col-md-6 col-xs-12">
                <input type="text" value=".fastboy.net" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button class="submit-login">Login</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
