checkin-html/public/member-list.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li> <a href="appointment.html" class="menu-itm"><img src="images/promotion_ico.png" alt>Appointment</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="container-fluid">
          <div class="content-head clearfix member-head">
            <h1 class="text-capitalize pull-left">Member list</h1>
            <div class="pull-right filter">
              <div class="filter-slt tag"><span class="display tag-disp"> <b>Tag: All</b><i class="fa fa-sort"></i></span>
                <ul class="f-lst">
                  <li><a href="javascript:;" data-text="all" class="active tag-itm">
                       
                      All<span class="fa fa-check"></span></a></li>
                  <li><a href="javascript:;" data-text="red-tag" class="tag-itm red-tag tag-img"><span class="fa fa-check"></span></a></li>
                  <li><a href="javascript:;" data-text="yellow-tag" class="tag-itm yellow-tag tag-img"><span class="fa fa-check"></span></a></li>
                </ul>
              </div>
              <div class="filter-slt type"><span class="display"> <b>Type: All</b><i class="fa fa-sort"></i></span>
                <ul class="f-lst">
                  <li><a href="javascript:;" data-text="Type: All" class="active">
                       
                      All<span class="fa fa-check"></span></a></li>
                  <li><a href="javascript:;" data-text="Type: Vip">Vip<span class="fa fa-check"></span></a></li>
                  <li><a href="javascript:;" data-text="Type: Regular">Regular<span class="fa fa-check"></span></a></li>
                  <li><a href="javascript:;" data-text="Type: New">New<span class="fa fa-check"></span></a></li>
                  <li><a href="javascript:;" data-text="Type: At risk">At risk<span class="fa fa-check"></span></a></li>
                </ul>
              </div>
              <div class="search">
                <input type="text" placeholder="Search by name or phone">
                <button><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
          <!-- END: CONTENT HEAD-->
          <div class="chart-content">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="col-chrt-itm">
                  <h2 class="total"><span>Total member</span>5000</h2>
                  <div id="chartdiv"></div>
                  <div class="hover-chrt">
                    <div class="inner-hover">
                      <h3 class="text-uppercase">Customer Type Definitions</h3>
                      <p class="cus-type vip"><span>VIP:</span>spent more than $1,000</p>
                      <p class="cus-type new"><span>New:</span>first check-in within 14 days</p>
                      <p class="cus-type regular"><span>Regular:</span>check in once a month</p>
                      <p class="cus-type risk"><span>At Risk:</span>no visit in 60 days</p>
                      <p class="cus-type normal"><span>Normal:</span>all other status</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="col-chrt-itm">
                  <h2 class="total"><span>Total member with tag</span>2,500</h2>
                  <div id="chartdiv2"></div>
                  <div class="hover-chrt">
                    <div class="inner-hover">
                      <h3 class="text-uppercase">Customer Type Definitions</h3>
                      <p class="cus-type vip"><span>VIP:</span>spent more than $1,000</p>
                      <p class="cus-type new"><span>New:</span>first check-in within 14 days</p>
                      <p class="cus-type regular"><span>Regular:</span>check in once a month</p>
                      <p class="cus-type risk"><span>At Risk:</span>no visit in 60 days</p>
                      <p class="cus-type normal"><span>Normal:</span>all other status</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-content">
            <div class="table-responsive">
              <table class="table cus-tb mem-tb">
                <tr>
                  <th class="text-uppercase col-lg"> <a href="#">Member</a></th>
                  <th class="text-uppercase col-eq text-center"><a href="#" class="asc">Type</a></th>
                  <th class="text-uppercase col-eq"> <a href="#" class="desc">Tag</a></th>
                  <th class="text-uppercase col-eq">Already review</th>
                  <th class="text-uppercase col-eq">Visit</th>
                  <th class="text-uppercase col-eq">Last visit</th>
                  <th class="text-uppercase col-eq">Income</th>
                  <th class="text-center col-eq"></th>
                </tr>
                <tr>
                  <td>
                    <div class="mem-info">
                      <div class="img"><img src="images/ava.png" alt class="img-circle"></div>
                      <div class="content">
                        <h3>Alice McGee</h3>
                        <p><i class="fa fa-phone"></i>(987) 654-3210</p>
                      </div>
                    </div>
                  </td>
                  <td><span class="mem-type vip">Vip</span></td>
                  <td>
                    <div class="tag-red tag-blk"></div>
                  </td>
                  <td> 
                    <p class="m-t">4 Review</p>
                  </td>
                  <td> 
                    <p class="m-t">10</p>
                  </td>
                  <td> 
                    <p class="m-t">10 days ago</p>
                  </td>
                  <td> 
                    <p class="m-t"><span class="blue">$39,639</span></p>
                  </td>
                  <td class="text-center"> 
                    <button data-toggle="modal" data-target="#member-detail" class="tb-btn">See detail</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="mem-info">
                      <div class="img"><img src="images/ava.png" alt class="img-circle"></div>
                      <div class="content">
                        <h3>Alice McGee</h3>
                        <p><i class="fa fa-phone"></i>(987) 654-3210</p>
                      </div>
                    </div>
                  </td>
                  <td><span class="mem-type new">New</span></td>
                  <td>
                    <div class="tag-red tag-blk"></div>
                  </td>
                  <td>4 Review</td>
                  <td>10</td>
                  <td>10 days ago</td>
                  <td> <span class="blue">$39,639</span></td>
                  <td class="text-center"> 
                    <button data-toggle="modal" data-target="#member-detail" class="tb-btn">See detail</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="mem-info">
                      <div class="img"><img src="images/ava.png" alt class="img-circle"></div>
                      <div class="content">
                        <h3>Alice McGee</h3>
                        <p><i class="fa fa-phone"></i>(987) 654-3210</p>
                      </div>
                    </div>
                  </td>
                  <td><span class="mem-type regular">Regular</span></td>
                  <td>
                    <div class="tag-yellow tag-blk"></div>
                  </td>
                  <td>4 Review</td>
                  <td>10</td>
                  <td>10 days ago</td>
                  <td> <span class="blue">$39,639</span></td>
                  <td class="text-center"> 
                    <button data-toggle="modal" data-target="#member-detail" class="tb-btn">See detail</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="mem-info">
                      <div class="img"><img src="images/ava.png" alt class="img-circle"></div>
                      <div class="content">
                        <h3>Alice McGee</h3>
                        <p><i class="fa fa-phone"></i>(987) 654-3210</p>
                      </div>
                    </div>
                  </td>
                  <td><span class="mem-type atrisk">At risk</span></td>
                  <td>
                    <div class="tag-red tag-blk"></div>
                  </td>
                  <td>4 Review</td>
                  <td>10</td>
                  <td>10 days ago</td>
                  <td> <span class="blue">$39,639</span></td>
                  <td class="text-center"> 
                    <button data-toggle="modal" data-target="#member-detail" class="tb-btn">See detail</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id="member-detail" role="dialog" class="modal fade">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header mem-dt-head">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close-modal"><i class="fa fa-close"></i></button>
                <div class="head-ava"><img src="images/ava.png" alt class="img-circle">
                  <h3 class="user-name">Denise McKay</h3><span class="since">Since July 2017</span><span class="point">57 points</span>
                </div>
              </div>
              <div class="modal-body clearfix">
                <div class="row">
                  <div class="add-point">
                    <div class="col-md-5 col-xs-5">
                      <p>Add/remove from current pts:</p>
                    </div>
                    <div class="col-md-7 col-xs-7"> 
                      <div class="add-pts-ipt">
                        <button class="decrease"><i class="fa fa-caret-down"></i></button>
                        <button class="increase"><i class="fa fa-caret-up"></i></button>
                        <input type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="detail-frm">
                  <p class="count-visit"><span>1 </span>Total visit <span>75 </span>Lifetime Pts </p>
                  <div class="form-group">
                    <label>Name:</label>
                    <input type="text" value="Denise McKay" readonly class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Phone number:</label>
                    <input type="text" value="(214) 505-5295" class="form-control">
                  </div>
                  <div class="birthday">
                    <p>
                      <label>Birthday:</label>
                    </p>
                    <div class="row">
                      <div class="col-md-4 col-xs-12">
                        <select class="form-control">
                          <option>Month</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                      </div>
                      <div class="col-md-4 col-xs-12">
                        <select class="form-control">
                          <option>Day</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                      </div>
                      <div class="col-md-4 col-xs-12">
                        <select class="form-control">
                          <option>Year</option>
                          <option>1990</option>
                          <option>1991</option>
                          <option>1992</option>
                          <option>1993</option>
                          <option>1994</option>
                          <option>1995</option>
                          <option>1996</option>
                          <option>1997</option>
                          <option>1998</option>
                          <option>1999</option>
                          <option>2000</option>
                          <option>2001</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email:</label>
                    <input type="text" value="" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Note:</label>
                    <textarea rows="5" placeholder="Add note" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="cancel-del">Cancel</button>
                <button class="accept-del">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

checkin-html/source/views/member-list.jade
block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .content-head.clearfix.member-head
                h1.text-capitalize.pull-left
                    | Member list
                .pull-right.filter
                    .filter-slt.tag
                        span.display.tag-disp 
                            b Tag: All
                            i.fa.fa-sort
                        ul.f-lst
                            li
                                a.active.tag-itm(href="javascript:;", data-text="all") 
                                    | All
                                    span.fa.fa-check
                            li
                                a.tag-itm.red-tag.tag-img(href="javascript:;", data-text="red-tag")
                                    span.fa.fa-check
                            li
                                a.tag-itm.yellow-tag.tag-img(href="javascript:;", data-text="yellow-tag")
                                    span.fa.fa-check
                    .filter-slt.type
                        span.display 
                            b Type: All
                            i.fa.fa-sort
                        ul.f-lst
                            li
                                a.active(href="javascript:;", data-text="Type: All") 
                                    | All
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: Vip")
                                    | Vip
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: Regular")
                                    | Regular
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: New")
                                    | New
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: At risk")
                                    | At risk
                                    span.fa.fa-check
                    .search
                        input(type="text", placeholder="Search by name or phone")
                        button
                            i.fa.fa-search
            // END: CONTENT HEAD
            
            .chart-content
                .row
                    .col-md-6.col-xs-12
                        .col-chrt-itm
                            h2.total
                                span Total member
                                | 5000
                            #chartdiv
                            .hover-chrt
                                .inner-hover
                                    h3.text-uppercase Customer Type Definitions
                                    p.cus-type.vip
                                        span VIP:
                                        | spent more than $1,000
                                    p.cus-type.new
                                        span New:
                                        | first check-in within 14 days
                                    p.cus-type.regular
                                        span Regular:
                                        | check in once a month
                                    p.cus-type.risk
                                        span At Risk:
                                        | no visit in 60 days
                                    p.cus-type.normal
                                        span Normal:
                                        | all other status
                    .col-md-6.col-xs-12
                        .col-chrt-itm
                            h2.total
                                span Total member with tag
                                | 2,500
                            #chartdiv2
                            .hover-chrt
                                .inner-hover
                                    h3.text-uppercase Customer Type Definitions
                                    p.cus-type.vip
                                        span VIP:
                                        | spent more than $1,000
                                    p.cus-type.new
                                        span New:
                                        | first check-in within 14 days
                                    p.cus-type.regular
                                        span Regular:
                                        | check in once a month
                                    p.cus-type.risk
                                        span At Risk:
                                        | no visit in 60 days
                                    p.cus-type.normal
                                        span Normal:
                                        | all other status
            .table-content
                .table-responsive
                    table.table.cus-tb.mem-tb
                        tr
                            th.text-uppercase.col-lg 
                                a(href="#") Member
                            th.text-uppercase.col-eq.text-center
                                a.asc(href="#") Type
                            th.text-uppercase.col-eq 
                                a.desc(href="#") Tag
                            th.text-uppercase.col-eq Already review
                            th.text-uppercase.col-eq Visit
                            th.text-uppercase.col-eq Last visit
                            th.text-uppercase.col-eq Income
                            th.text-center.col-eq
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.vip
                                    | Vip
                            td
                                .tag-red.tag-blk
                            
                            td 
                                p.m-t 4 Review
                            td 
                                p.m-t 10
                            td 
                                p.m-t 10 days ago
                            td 
                                p.m-t
                                    span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.new
                                    | New
                            td
                                .tag-red.tag-blk
                            
                            td 4 Review
                            td 10
                            td 10 days ago
                            td 
                                span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.regular
                                    | Regular
                            td
                                .tag-yellow.tag-blk
                            
                            td 4 Review
                            td 10
                            td 10 days ago
                            td 
                                span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.atrisk
                                    | At risk
                            td
                                .tag-red.tag-blk
                            
                            td 4 Review
                            td 10
                            td 10 days ago
                            td 
                                span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
        include blocks/modal/member-detail.jade
