checkin-html/public/promotion-review.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li> <a href="appointment.html" class="menu-itm"><img src="images/promotion_ico.png" alt>Appointment</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="container-fluid">
          <div class="content-head clearfix">
            <h1 class="text-capitalize pull-left">Review</h1>
            <div class="pull-right filter">
              <div class="search">
                <input type="text" placeholder="Search by name or phone">
                <button><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- END: CONTENT HEAD-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <div class="main-review">
                <div class="review-itm">
                  <div class="r-head clearfix">
                    <div class="ava"><img src="images/ava.png" alt class="img-circle"></div>
                    <div class="head-inf">
                      <p class="name">Lily Coleman</p>
                      <div class="ico-blk"><span title="google" class="fa fa-google"></span><span title="facebook" class="fa fa-facebook"></span><span title="yelp" class="active yelp"><img src="https://cdn.worldvectorlogo.com/logos/yelp.svg" alt></span><span class="go-checkin"><img src="images/go-checkin.png" alt></span></div>
                      <div class="tag-type"><span class="type vip">Vip</span><span class="tag tag-yellow"></span></div>
                      <div class="row">
                        <div class="col-md-6">
                          <p><i class="fa fa-phone"></i><span class="grey">(972) 824-9422</span></p>
                          <p class="no-margin"><i class="fa fa-envelope"></i><span class="grey">lily_coleman@gmail.com</span></p>
                        </div>
                        <div class="col-md-6">
                          <p><span class="grey">Last visit: </span>4/15/2017</p>
                          <p class="no-margin"><span class="grey">Visit </span>12 times</p>
                        </div>
                      </div>
                    </div><a href="#" data-toggle="modal" data-target="#review-modal" class="show-modal"><i class="fa fa-share"></i></a>
                  </div>
                  <div class="r-content">
                    <p class="ct-name">Yelp</p>
                    <div class="ico-blk"><span title="yelp" class="yelp active"><img src="https://cdn.worldvectorlogo.com/logos/yelp.svg" alt></span></div>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                    <div class="img-blk clearfix">
                      <div class="img-itm"><img src="uploads/img1.png" alt></div>
                      <div class="img-itm"><img src="uploads/img2.jpg" alt></div>
                    </div>
                  </div>
                  <!-- END: CONTENT ITM LIST-->
                  <div class="r-content">
                    <p class="ct-name">Facebook</p>
                    <div class="ico-blk"><span title="facebook" class="fa fa-facebook active"></span></div>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                    <div class="img-blk clearfix">
                      <div class="img-itm"><img src="uploads/img1.png" alt></div>
                      <div class="img-itm"><img src="uploads/img2.jpg" alt></div>
                    </div>
                  </div>
                  <!-- END: CONTENT ITM LIST-->
                  <div class="r-content">
                    <p class="ct-name">Google</p>
                    <div class="ico-blk"><span title="google" class="fa fa-google active"></span></div>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                    <div class="img-blk clearfix">
                      <div class="img-itm"><img src="uploads/img1.png" alt></div>
                      <div class="img-itm"><img src="uploads/img2.jpg" alt></div>
                    </div>
                  </div>
                  <!-- END: CONTENT ITM LIST-->
                  <div class="r-content">
                    <p class="ct-name">Go-checkin</p>
                    <div class="ico-blk"><span class="active go-checkin"><img src="images/go-checkin.png" alt></span></div>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                    <div class="img-blk clearfix">
                      <div class="img-itm"><img src="uploads/img1.png" alt></div>
                      <div class="img-itm"><img src="uploads/img2.jpg" alt></div>
                    </div>
                  </div>
                  <!-- END: CONTENT ITM LIST-->
                  <div class="r-content">
                    <p class="ct-name">Yelp</p>
                    <div class="ico-blk"><span title="yelp" class="active yelp"><img src="https://cdn.worldvectorlogo.com/logos/yelp.svg" alt></span></div>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                    <div class="img-blk clearfix">
                      <div class="img-itm"><img src="uploads/img1.png" alt></div>
                      <div class="img-itm"><img src="uploads/img2.jpg" alt></div>
                    </div>
                  </div>
                  <!-- END: CONTENT ITM LIST-->
                </div>
                <!--END: REVIEW ITM-->
                <div class="review-itm">
                  <div class="r-head clearfix">
                    <div class="ava"><img src="images/ava.png" alt class="img-circle"></div>
                    <div class="head-inf">
                      <p class="name">Lily Coleman</p>
                      <div class="ico-blk"><span title="google" class="fa fa-google"></span><span title="facebook" class="fa fa-facebook active"></span><span title="yelp" class="yelp"><img src="https://cdn.worldvectorlogo.com/logos/yelp.svg" alt></span><span class="active go-checkin"><img src="images/go-checkin.png" alt></span></div>
                      <div class="tag-type"><span class="type vip">Vip</span><span class="tag"></span></div>
                      <div class="row">
                        <div class="col-md-6">
                          <p><i class="fa fa-phone"></i><span class="grey">(972) 824-9422</span></p>
                          <p class="no-margin"><i class="fa fa-envelope"></i><span class="grey">lily_coleman@gmail.com</span></p>
                        </div>
                        <div class="col-md-6">
                          <p><span class="grey">Last visit: </span>4/15/2017</p>
                          <p class="no-margin"><span class="grey">Visit </span>12 times</p>
                        </div>
                      </div>
                    </div><a href="#" data-toggle="modal" data-target="#review-modal" class="show-modal"><i class="fa fa-share"></i></a>
                  </div>
                  <div class="r-content">
                    <p class="ct-name">Facebook</p>
                    <div class="ico-blk"><span title="facebook" class="fa fa-facebook active"></span></div>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                    <div class="img-blk clearfix">
                      <div class="img-itm"><img src="uploads/img1.png" alt></div>
                      <div class="img-itm"><img src="uploads/img2.jpg" alt></div>
                    </div>
                  </div>
                  <!-- END: CONTENT ITM LIST-->
                  <div class="r-content">
                    <p class="ct-name">Facebook</p>
                    <div class="ico-blk"><span title="facebook" class="fa fa-facebook active"></span></div>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                    <div class="img-blk clearfix">
                      <div class="img-itm"><img src="uploads/img1.png" alt></div>
                      <div class="img-itm"><img src="uploads/img2.jpg" alt></div>
                    </div>
                  </div>
                  <!-- END: CONTENT ITM LIST-->
                </div>
                <!--END: REVIEW ITM-->
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="sidebar">
                <div class="side-itm blue">
                  <p class="text-capitalize">Total Vip User</p>
                  <h3>300</h3>
                </div>
                <div class="side-itm red">
                  <p class="text-capitalize">Total yelp review</p>
                  <h3>1,530</h3><span class="blue">2 recent reviews</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="review-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
          <div role="document" class="modal-dialog modal-lg">
            <div class="modal-content review-modal">
              <div class="modal-head clearfix"><a href="javascript:;" data-dismiss="modal" class="close-modal"><i class="fa fa-close"></i></a>
                <div class="ava"><img src="images/ava.png" alt class="img-circle"></div>
                <div class="head-info">
                  <p class="name">Lily Coleman</p>
                  <div class="tag-type"><span class="type vip">Vip</span><span class="tag tag-yellow"></span></div>
                  <div class="row">
                    <div class="col-md-6">
                      <p><i class="fa fa-phone"></i><span class="grey">(972) 824-9422</span></p>
                      <p class="no-margin"><i class="fa fa-envelope"></i><span class="grey">lily_coleman@gmail.com</span></p>
                    </div>
                    <div class="col-md-6">
                      <p><span class="grey">Last visit: </span>4/15/2017</p>
                      <p class="no-margin"><span class="grey">Visit </span>12 times</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-body clearfix">
                <div class="post-list">
                  <div class="post-itm">
                    <p class="ct-name">Yelp</p>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                  </div>
                  <div class="post-itm">
                    <p class="ct-name">Yelp</p>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                  </div>
                  <div class="post-itm">
                    <p class="ct-name">Yelp</p>
                    <div class="time-post"><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star active"></span><span class="fa fa-star"></span><span class="date-time">4/15/2017</span></div>
                    <p class="ct">5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!</p><a href="#" class="view-more">See more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

checkin-html/source/views/promotion-review.jade
block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .content-head.clearfix
                h1.text-capitalize.pull-left
                    | Review
                .pull-right.filter
                    .search
                        input(type="text", placeholder="Search by name or phone")
                        button
                            i.fa.fa-search
        // END: CONTENT HEAD
        .container-fluid
            .row
                .col-md-8.col-xs-12
                    .main-review
                        .review-itm
                            .r-head.clearfix
                                .ava
                                    img.img-circle(src="images/ava.png", alt)
                                .head-inf
                                    p.name Lily Coleman
                                    .ico-blk
                                        span.fa.fa-google(title="google")
                                        span.fa.fa-facebook(title="facebook")
                                        span.active.yelp(title="yelp")
                                            img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                        span.go-checkin
                                            img(src="images/go-checkin.png", alt)
                                    .tag-type
                                        span.type.vip
                                            | Vip
                                        span.tag.tag-yellow
                                    .row
                                        .col-md-6
                                            p
                                                i.fa.fa-phone
                                                span.grey (972) 824-9422
                                            p.no-margin
                                                i.fa.fa-envelope
                                                span.grey lily_coleman@gmail.com
                                        .col-md-6
                                            p
                                                span.grey Last visit: 
                                                | 4/15/2017
                                            p.no-margin
                                                span.grey Visit 
                                                | 12 times
                                //- .star-ic
                                a.show-modal(href="#", data-toggle="modal", data-target="#review-modal")
                                    i.fa.fa-share
                            .r-content
                                p.ct-name Yelp
                                .ico-blk
                                    span.yelp.active(title="yelp")
                                        img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Facebook
                                .ico-blk
                                    span.fa.fa-facebook.active(title="facebook")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Google
                                .ico-blk
                                    span.fa.fa-google.active(title="google")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Go-checkin
                                .ico-blk
                                    span.active.go-checkin
                                        img(src="images/go-checkin.png", alt)
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Yelp
                                .ico-blk
                                    span.active.yelp(title="yelp")
                                        img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                        //END: REVIEW ITM
                        .review-itm
                            .r-head.clearfix
                                .ava
                                    img.img-circle(src="images/ava.png", alt)
                                .head-inf
                                    p.name Lily Coleman
                                    .ico-blk
                                        span.fa.fa-google(title="google")
                                        span.fa.fa-facebook.active(title="facebook")
                                        span.yelp(title="yelp")
                                            img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                        span.active.go-checkin
                                            img(src="images/go-checkin.png", alt)
                                    .tag-type
                                        span.type.vip
                                            | Vip
                                        span.tag
                                    .row
                                        .col-md-6
                                            p
                                                i.fa.fa-phone
                                                span.grey (972) 824-9422
                                            p.no-margin
                                                i.fa.fa-envelope
                                                span.grey lily_coleman@gmail.com
                                        .col-md-6
                                            p
                                                span.grey Last visit: 
                                                | 4/15/2017
                                            p.no-margin
                                                span.grey Visit 
                                                | 12 times
                                //- .star-ic
                                a.show-modal(href="#", data-toggle="modal", data-target="#review-modal")
                                    i.fa.fa-share
                            .r-content
                                p.ct-name Facebook
                                .ico-blk
                                    span.fa.fa-facebook.active(title="facebook")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Facebook
                                .ico-blk
                                    span.fa.fa-facebook.active(title="facebook")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                        //END: REVIEW ITM
                .col-md-4.col-xs-12
                    .sidebar
                        .side-itm.blue
                            p.text-capitalize Total Vip User
                            h3 300
                        //- .side-itm.green
                        //-     p.text-capitalize Total google review
                        //-     h3 3.500
                        //-     span.blue 2 recent reviews
                        .side-itm.red
                            p.text-capitalize Total yelp review
                            h3 1,530
                            span.blue 2 recent reviews
        include blocks/modal/review-modal.jade
        
