checkin-html/source/views/redemtion.jade
block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Redemtion
            button.text-center.pull-right.create-nw(data-tg="reminder-modal")
                | Create new redemtion
                span +
        .table-content
            .table-responsive
                table.table.cus-tb.pro-tb
                    tr
                        th.text-center.text-uppercase On/Off
                        th.text-uppercase Name
                        th.text-uppercase For
                        th.text-uppercase Point
                        th.text-uppercase Reward
                        th.text-uppercase Total redemtion
                        th
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="reminder")
                                        .slider.round
                        td 
                            p 
                                | First check in reward 
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                        td
                            p Everyone
                        td 
                            p 100
                        td 
                            p.text-uppercase Off 20%
                        td
                            p 1000
                        td.text-center 
                            button.btn-notify(data-target="#notify-redemtion", data-toggle="modal") Notify
                            button.tb-btn.open-dt-modal(data-target="redemtion-detail") See detail
                    // END: PROMOTION TR
        include blocks/modal/redemtion-detail.jade
        .modal.fade#notify-redemtion(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Notify your customer
                    .modal-body.clearfix
                        .form-group
                            p Which customer you want yo notify
                            select.form-control
                                option Everyone
                                option Everyone
                                option Everyone
                                option Everyone
                        .n-c-left-itm
                            p.col-ttl
                                | Message you want to send
                            span.lim-txt 50 characters left
                            .msg-cus-ct
                                textarea(rows="5") We're offering our customers a special deal all week long. Come in soon!
                        p.student-5000 5000 student will received your message though text and email
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') I'll send it later
                        button.accept-del Send my message

checkin-html/public/redemtion.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li> <a href="appointment.html" class="menu-itm"><img src="images/promotion_ico.png" alt>Appointment</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="content-head clearfix">
          <h1 class="text-capitalize pull-left">Redemtion</h1>
          <button data-tg="reminder-modal" class="text-center pull-right create-nw">Create new redemtion<span>+</span></button>
        </div>
        <div class="table-content">
          <div class="table-responsive">
            <table class="table cus-tb pro-tb">
              <tr>
                <th class="text-center text-uppercase">On/Off</th>
                <th class="text-uppercase">Name</th>
                <th class="text-uppercase">For</th>
                <th class="text-uppercase">Point</th>
                <th class="text-uppercase">Reward</th>
                <th class="text-uppercase">Total redemtion</th>
                <th></th>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="switcher">
                    <div class="lbl-switch">
                      <label class="switch">
                        <input type="checkbox" data-mode="reminder">
                        <div class="slider round"></div>
                      </label>
                    </div>
                  </div>
                </td>
                <td> 
                  <p>
                     
                    First check in reward <span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span>
                  </p>
                </td>
                <td>
                  <p>Everyone</p>
                </td>
                <td> 
                  <p>100</p>
                </td>
                <td> 
                  <p class="text-uppercase">Off 20%</p>
                </td>
                <td>
                  <p>1000</p>
                </td>
                <td class="text-center"> 
                  <button data-target="#notify-redemtion" data-toggle="modal" class="btn-notify">Notify</button>
                  <button data-target="redemtion-detail" class="tb-btn open-dt-modal">See detail</button>
                </td>
              </tr>
              <!-- END: PROMOTION TR-->
            </table>
          </div>
        </div>
        <div id="redemtion-detail" class="cre-pro-modal">
          <div class="container">
            <div class="m-content">
              <div class="m-head clearfix">
                <h3 class="pull-left text-capitalize">Promotion detail</h3>
                <div class="head-btn pull-right">
                  <button data-toggle="modal" data-target="#del-promotion" class="del-btn">Delete</button>
                  <button class="edit-btn"><i class="fa fa-pencil"></i>Edit</button>
                  <button class="del-btn close-modal-btn">Close</button>
                </div>
              </div>
              <div class="m-body">
                <div class="row">
                  <div class="col-md-3 col-sm-12 prm-lft">
                    <div class="st-blk">
                      <p class="blue">Everyone</p>
                      <p class="tooltip-p">First check in reward <span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span></p>
                      <p class="off-p text-uppercase">Off 10%</p>
                      <p class="date-p"><i class="fa fa-calendar"></i>12/07/2017 <span>to </span>12/07/2017</p>
                    </div>
                    <div class="second-blk"><span class="text-uppercase span-ttl">Total delivered</span>
                      <p>11,850 <i class="fa fa-mobile"></i><span>100%</span><i class="fa fa-envelope"></i><span>90%</span></p>
                      <div class="row">
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Claims</span>
                          <p>4500</p>
                        </div>
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Redemtion</span>
                          <p>2500</p>
                        </div>
                      </div>
                    </div>
                    <div class="third-blk">
                      <div class="row">
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Icncom</span>
                          <p>$100,000</p>
                        </div>
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Expense</span>
                          <p>$62,420</p>
                        </div>
                      </div>
                      <div class="chrt-ct"><span>62%</span>
                        <div data-bgcolor="#ddd" data-linecolor="#75db79" data-line="7" data-size="70" draw-canvas="" data-percent="62" class="chrt"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-12 prm-rght">
                    <div class="tb-list">
                      <div class="table-responsive">
                        <table class="table cus-tb">
                          <tr>
                            <th class="text-uppercase">Customer</th>
                            <th class="text-uppercase">Visit</th>
                            <th class="text-uppercase">Income</th>
                            <th class="text-uppercase">Tag</th>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-yellow tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-yellow tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="del-promotion" role="dialog" class="modal fade">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Delete promotion</h4>
                  </div>
                  <div class="modal-body">
                    <p>Do you really want to remove this promotion from this list? After removed, the cashier will not see this promotion and customer will not be able to redeem</p>
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="cancel-del">Later</button>
                    <button class="accept-del">Ok</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="notify-redemtion" role="dialog" class="modal fade">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Notify your customer</h4>
              </div>
              <div class="modal-body clearfix">
                <div class="form-group">
                  <p>Which customer you want yo notify</p>
                  <select class="form-control">
                    <option>Everyone</option>
                    <option>Everyone</option>
                    <option>Everyone</option>
                    <option>Everyone</option>
                  </select>
                </div>
                <div class="n-c-left-itm">
                  <p class="col-ttl">Message you want to send</p><span class="lim-txt">50 characters left</span>
                  <div class="msg-cus-ct">
                    <textarea rows="5">We're offering our customers a special deal all week long. Come in soon!</textarea>
                  </div>
                </div>
                <p class="student-5000">5000 student will received your message though text and email</p>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="cancel-del">I'll send it later</button>
                <button class="accept-del">Send my message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>
