checkin-html/source/views/reminder.jade
block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Reminder managament
            button.text-center.pull-right.create-nw(data-tg="reminder-modal")
                | Create new reminder
                span +
        .table-content
            .table-responsive
                table.table.cus-tb
                    tr
                        th.text-center.text-uppercase Active
                        th.text-uppercase Name
                        th.text-uppercase For
                        th.text-uppercase When
                        th.text-uppercase Reward
                        th.text-uppercase Expired in
                        th.text-center.text-uppercase Notify
                        th
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox")
                                        .slider.round
                        td 
                            p 
                                | Firt checkin reward
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                        td All
                        td First time checkin
                        td OFF 10%
                        td 12/07/2018
                        td.text-center Yes
                        td.text-center 
                            button.tb-btn View
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox")
                                        .slider.round
                  
                        td 
                            p 
                                | Back to school
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                        td Student
                        td Every time
                        td Discount 5$
                        td 12/07/2018
                        td.text-center No
                        td.text-center 
                            button.tb-btn View
        include blocks/modal/create-reminder.jade

html/reminder.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="content-head clearfix">
          <h1 class="text-capitalize pull-left">Reminder managament</h1>
          <button data-tg="reminder-modal" class="text-center pull-right create-nw">Create new reminder<span>+</span></button>
        </div>
        <div class="table-content">
          <div class="table-responsive">
            <table class="table cus-tb">
              <tr>
                <th class="text-center text-uppercase">Active</th>
                <th class="text-uppercase">Name</th>
                <th class="text-uppercase">For</th>
                <th class="text-uppercase">When</th>
                <th class="text-uppercase">Reward</th>
                <th class="text-uppercase">Expired in</th>
                <th class="text-center text-uppercase">Notify</th>
                <th></th>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="switcher">
                    <div class="lbl-switch">
                      <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                      </label>
                    </div>
                  </div>
                </td>
                <td> 
                  <p>
                     
                    Firt checkin reward<span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span>
                  </p>
                </td>
                <td>All</td>
                <td>First time checkin</td>
                <td>OFF 10%</td>
                <td>12/07/2018</td>
                <td class="text-center">Yes</td>
                <td class="text-center"> 
                  <button class="tb-btn">View</button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="switcher">
                    <div class="lbl-switch">
                      <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                      </label>
                    </div>
                  </div>
                </td>
                <td> 
                  <p>
                     
                    Back to school<span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span>
                  </p>
                </td>
                <td>Student</td>
                <td>Every time</td>
                <td>Discount 5$</td>
                <td>12/07/2018</td>
                <td class="text-center">No</td>
                <td class="text-center"> 
                  <button class="tb-btn">View</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div id="reminder-modal" class="cre-pro-modal">
          <div class="container">
            <div class="n-pro-head clearfix">
              <h1 class="pull-left">Create new reminder</h1>
              <div class="cre-head-right pull-right"><a href="javascript:;" class="close-c-modal"><i class="fa fa-close"></i></a></div>
            </div>
            <div class="n-pro-body">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-left">
                    <div class="n-c-left-itm">
                      <p class="col-ttl">What reminder do you want to offer?</p>
                      <div class="prom-offer clearfix">
                        <input type="text" value="20">
                        <div class="switch-btn"><a href="javascript:;" class="active">%</a><a href="javascript:;">$</a></div>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Which customer do you want to offer?</p>
                      <div class="slt-customer">
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>All - 4,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>All - 4,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>Vip - 250 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>Regular - 3,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>At risk - 1,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>Tagged - 1,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">No visit in</p>
                      <div class="cus-select">
                        <select>
                          <option>120 days</option>
                          <option>120 days</option>
                          <option>120 days</option>
                          <option>120 days</option>
                        </select>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">How long do you want to maintain this reminder?</p>
                      <div class="date-picker">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="pick-blk">
                              <p>To</p>
                              <input id="reminder-date" type="text" placeholder="Date"><i class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Message to show to customer</p><span class="lim-txt">50 characters left</span>
                      <div class="msg-cus-ct">
                        <textarea rows="5">We're offering our customers a special deal all week long. Come in soon!</textarea>
                      </div>
                    </div>
                    <div class="n-button"> 
                      <div class="row">
                        <div class="col-md-6">
                          <button class="create-now">Create promotion now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: COL left-->
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-right">
                    <div class="instruction">
                      <h3>Instruction</h3>
                      <p>Rule YouTube</p>
                      <p>When you browse through videos at YouTube, which do you usually click first: one with around 10 views or one with around 75,000 views? If you’re normal, then you’re much more likely to click on YouTube videos that have a lot of clicks already. The logic is simple. The more views a video has, the more interesting the video must be. After all, why would a video gain so many views if it’s dull or uninteresting, right? Indeed, the bandwagon mentality works very well at YouTube – so why not use it to market your videos at YouTube?</p>
                      <p>Why Buy YouTube Views?</p>
                      <p>Buying YouTube views is far more practical than asking friends, acquaintances, etc. to view your YouTube video. By investing a small amount, you can have as much as 150,000 views on your YouTube video in 48 hours. After 48 hours, other people are going to notice your video and think: “Wow, this video has so many hits; I’ve just got to see what the buzz is about.” In result, your YouTube video will get even more views than you have initially paid for, and more and more people are going to be exposed to the marketing message contained in your video.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>
