html/reminder-v2.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="content-head clearfix">
          <h1 class="text-capitalize pull-left">Reminder managament</h1>
          <button data-tg="reminder-modal" class="text-center pull-right create-nw">Create new special day<span>+</span></button>
        </div>
        <div class="table-content">
          <div class="table-responsive">
            <table class="table cus-tb pro-tb">
              <tr>
                <th class="text-center text-uppercase">On/Off</th>
                <th class="text-uppercase">Reminder</th>
                <th class="text-uppercase">Delivered & Visit</th>
                <th class="text-uppercase">Income & Expense</th>
                <th></th>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="switcher">
                    <div class="lbl-switch">
                      <label class="switch">
                        <input type="checkbox" data-mode="reminder">
                        <div class="slider round"></div>
                      </label>
                    </div>
                  </div>
                </td>
                <td> 
                  <p>We miss you</p>
                  <p class="off-p text-uppercase">Off 10%</p>
                  <p class="date-p"><i class="fa fa-calendar"></i>12/07/2017 <span>to </span>12/07/2017</p>
                  <select class="tb-select">
                    <option>No visit in 10 days</option>
                    <option>No visit in 20 days</option>
                    <option>No visit in 30 days</option>
                    <option>No visit in 40 days</option>
                  </select>
                </td>
                <td> 
                  <div class="row">
                    <div class="total-delivered col-md-6 col-xs-12"><span class="text-uppercase">Total delivered</span>
                      <p>11,850</p>
                    </div>
                    <div class="redeem-col col-md-6 col-xs-12"><span class="text-uppercase">Redemtion</span>
                      <p>2500</p>
                    </div>
                  </div>
                </td>
                <td> 
                  <div class="row">
                    <div class="col-md-6 col-xs-12 income-expense">
                      <p><span class="text-uppercase">Income</span>$100,000</p>
                      <p><span class="text-uppercase">Expense</span>$62,420</p>
                    </div>
                    <div class="col-md-6 col-xs-12 canvas-circle">
                      <div class="chrt-ct"><span>62%</span>
                        <div data-bgcolor="#ddd" data-linecolor="#75db79" data-line="5" data-size="70" draw-canvas="" data-percent="62" class="chrt"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-center"> 
                  <button data-target="reminder-detail" class="tb-btn open-dt-modal">See detail</button>
                </td>
              </tr>
              <!-- END: PROMOTION TR-->
              <tr>
                <td class="text-center">
                  <div class="switcher">
                    <div class="lbl-switch">
                      <label class="switch">
                        <input type="checkbox" data-mode="reminder">
                        <div class="slider round"></div>
                      </label>
                    </div>
                  </div>
                </td>
                <td> 
                  <p>We miss you</p>
                  <p class="off-p text-uppercase">Off 10%</p>
                  <p class="date-p"><i class="fa fa-calendar"></i>12/07/2017 <span>to </span>12/07/2017</p>
                  <select class="tb-select">
                    <option>No visit in 10 days</option>
                    <option>No visit in 20 days</option>
                    <option>No visit in 30 days</option>
                    <option>No visit in 40 days</option>
                  </select>
                </td>
                <td> 
                  <div class="row">
                    <div class="total-delivered col-md-6 col-xs-12"><span class="text-uppercase">Total delivered</span>
                      <p>11,850</p>
                    </div>
                    <div class="redeem-col col-md-6 col-xs-12"><span class="text-uppercase">Redemtion</span>
                      <p>2500</p>
                    </div>
                  </div>
                </td>
                <td> 
                  <div class="row">
                    <div class="col-md-6 col-xs-12 income-expense">
                      <p><span class="text-uppercase">Income</span>$100,000</p>
                      <p><span class="text-uppercase">Expense</span>$62,420</p>
                    </div>
                    <div class="col-md-6 col-xs-12 canvas-circle">
                      <div class="chrt-ct"><span>62%</span>
                        <div data-bgcolor="#ddd" data-linecolor="#75db79" data-line="5" data-size="70" draw-canvas="" data-percent="62" class="chrt"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-center"> 
                  <button data-target="reminder-detail" class="tb-btn open-dt-modal">See detail</button>
                </td>
              </tr>
              <!-- END: PROMOTION TR-->
            </table>
          </div>
        </div>
        <div id="reminder-modal" class="cre-pro-modal">
          <div class="container">
            <div class="n-pro-head clearfix">
              <h1 class="pull-left">Create new reminder</h1>
              <div class="cre-head-right pull-right"><a href="javascript:;" class="close-c-modal"><i class="fa fa-close"></i></a></div>
            </div>
            <div class="n-pro-body">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-left">
                    <div class="n-c-left-itm">
                      <p class="col-ttl">What reminder do you want to offer?</p>
                      <div class="prom-offer clearfix">
                        <input type="text" value="20">
                        <div class="switch-btn"><a href="javascript:;" class="active">%</a><a href="javascript:;">$</a></div>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Which customer do you want to offer?</p>
                      <div class="slt-customer">
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>All - 4,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>All - 4,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>Vip - 250 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>Regular - 3,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>At risk - 1,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                        <div class="c-chk">
                          <label class="lbl-control chk"><span>Tagged - 1,500 members</span>
                            <input type="checkbox">
                            <div class="chk-tick"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">No visit in</p>
                      <div class="cus-select">
                        <select>
                          <option>120 days</option>
                          <option>120 days</option>
                          <option>120 days</option>
                          <option>120 days</option>
                        </select>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">How long do you want to maintain this reminder?</p>
                      <div class="date-picker">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="pick-blk">
                              <p>To</p>
                              <input id="reminder-date" type="text" placeholder="Date"><i class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Message to show to customer</p><span class="lim-txt">50 characters left</span>
                      <div class="msg-cus-ct">
                        <textarea rows="5">We're offering our customers a special deal all week long. Come in soon!</textarea>
                      </div>
                    </div>
                    <div class="n-button"> 
                      <div class="row">
                        <div class="col-md-6">
                          <button class="create-now">Create promotion now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: COL left-->
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-right">
                    <div class="instruction">
                      <h3>Instruction</h3>
                      <p>Rule YouTube</p>
                      <p>When you browse through videos at YouTube, which do you usually click first: one with around 10 views or one with around 75,000 views? If you’re normal, then you’re much more likely to click on YouTube videos that have a lot of clicks already. The logic is simple. The more views a video has, the more interesting the video must be. After all, why would a video gain so many views if it’s dull or uninteresting, right? Indeed, the bandwagon mentality works very well at YouTube – so why not use it to market your videos at YouTube?</p>
                      <p>Why Buy YouTube Views?</p>
                      <p>Buying YouTube views is far more practical than asking friends, acquaintances, etc. to view your YouTube video. By investing a small amount, you can have as much as 150,000 views on your YouTube video in 48 hours. After 48 hours, other people are going to notice your video and think: “Wow, this video has so many hits; I’ve just got to see what the buzz is about.” In result, your YouTube video will get even more views than you have initially paid for, and more and more people are going to be exposed to the marketing message contained in your video.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="reminder-detail" class="cre-pro-modal">
          <div class="container">
            <div class="m-content">
              <div class="m-head clearfix">
                <h3 class="pull-left text-capitalize">Reminder detail</h3>
                <div class="head-btn pull-right">
                  <button data-toggle="modal" data-target="#del-reminder" class="del-btn">Delete</button>
                  <button class="edit-btn"><i class="fa fa-pencil"></i>Edit</button>
                  <button class="del-btn close-modal-btn">Close</button>
                </div>
              </div>
              <div class="m-body">
                <div class="row">
                  <div class="col-md-3 col-sm-12 prm-lft">
                    <div class="st-blk">
                      <p>First check in reward </p>
                      <p class="off-p text-uppercase">5% Off</p>
                      <p class="expire"><span>Expired in </span>06/08/2019</p>
                      <p class="no-visit"><span>No visit in  </span>20 days</p>
                    </div>
                    <div class="second-blk"><span class="text-uppercase span-ttl">Total delivered</span>
                      <p>11,850 <i class="fa fa-mobile"></i><span>100%</span><i class="fa fa-envelope"></i><span>90%</span></p>
                      <div class="row">
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Claims</span>
                          <p>4500</p>
                        </div>
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Redemtion</span>
                          <p>2500</p>
                        </div>
                      </div>
                    </div>
                    <div class="third-blk">
                      <div class="row">
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Icncom</span>
                          <p>$100,000</p>
                        </div>
                        <div class="col-md-6 col-sm-12"><span class="text-uppercase span-ttl">Expense</span>
                          <p>$62,420</p>
                        </div>
                      </div>
                      <div class="chrt-ct"><span>62%</span>
                        <div data-bgcolor="#ddd" data-linecolor="#75db79" data-line="7" data-size="70" draw-canvas="" data-percent="62" class="chrt"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-12 prm-rght">
                    <div class="tb-list">
                      <div class="table-responsive">
                        <table class="table cus-tb">
                          <tr>
                            <th class="text-uppercase">Customer</th>
                            <th class="text-uppercase">Visit</th>
                            <th class="text-uppercase">Income</th>
                            <th class="text-uppercase">Tag</th>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-yellow tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-yellow tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                          <tr>
                            <td> <strong>Irene Bridges</strong></td>
                            <td>01/20/2017</td>
                            <td> <span class="blue">$496</span></td>
                            <td>
                              <div class="tag-red tag-blk"></div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="del-reminder" role="dialog" class="modal fade">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Delete reminder</h4>
                  </div>
                  <div class="modal-body">
                    <p>Do you really want to remove this reminder from this list? After removed, your customer will not receive the notification and redeem</p>
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="cancel-del">Later</button>
                    <button class="accept-del">Ok</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="active-reminder" role="dialog" class="modal fade">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Active reminder</h4>
              </div>
              <div class="modal-body clearfix">
                <p>This reminder has been expired. Pls extend the expired date to make it be active it again</p>
                <div class="from-date"><span>From</span>
                  <div class="date-pick">
                    <input id="frm-date" type="text" placeholder="Date"><i class="fa fa-calendar"></i>
                  </div>
                </div>
                <div class="to-date"><span>To</span>
                  <div class="date-pick">
                    <input id="to-date" type="text" placeholder="Date"><i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="cancel-del">Cancel</button>
                <button class="accept-del">Ok</button>
              </div>
            </div>
          </div>
        </div>
        <div id="inactive-reminder" role="dialog" class="modal fade">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Inactive reminder</h4>
              </div>
              <div class="modal-body clearfix">
                <p>Do you want to make this reminder be inactive? After being inactive, your customer will not receive the notification and redeem</p>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="cancel-del">Cancel</button>
                <button class="accept-del">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

checkin-html/source/views/reminder-v2.jade
block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Reminder managament
            button.text-center.pull-right.create-nw(data-tg="reminder-modal")
                | Create new special day
                span +
        .table-content
            .table-responsive
                table.table.cus-tb.pro-tb
                    tr
                        th.text-center.text-uppercase On/Off
                        th.text-uppercase Reminder
                        th.text-uppercase Delivered & Visit
                        th.text-uppercase Income & Expense
                        th
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="reminder")
                                        .slider.round
                        td 
                            p We miss you
                            p.off-p.text-uppercase
                                | Off 10%
                            p.date-p
                                i.fa.fa-calendar
                                | 12/07/2017 
                                span to 
                                | 12/07/2017
                            select.tb-select
                                option No visit in 10 days
                                option No visit in 20 days
                                option No visit in 30 days
                                option No visit in 40 days
                        td 
                            .row
                                .total-delivered.col-md-6.col-xs-12
                                    span.text-uppercase Total delivered
                                    p 11,850
                                .redeem-col.col-md-6.col-xs-12
                                    span.text-uppercase Redemtion
                                    p 2500
                        td 
                            .row
                                .col-md-6.col-xs-12.income-expense
                                    p
                                        span.text-uppercase Income
                                        | $100,000
                                    p
                                        span.text-uppercase Expense
                                        | $62,420
                                .col-md-6.col-xs-12.canvas-circle
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                        td.text-center 
                            button.tb-btn.open-dt-modal(data-target="reminder-detail") See detail
                    // END: PROMOTION TR
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="reminder")
                                        .slider.round
                        td 
                            p We miss you
                            p.off-p.text-uppercase
                                | Off 10%
                            p.date-p
                                i.fa.fa-calendar
                                | 12/07/2017 
                                span to 
                                | 12/07/2017
                            select.tb-select
                                option No visit in 10 days
                                option No visit in 20 days
                                option No visit in 30 days
                                option No visit in 40 days
                        td 
                            .row
                                .total-delivered.col-md-6.col-xs-12
                                    span.text-uppercase Total delivered
                                    p 11,850
                                .redeem-col.col-md-6.col-xs-12
                                    span.text-uppercase Redemtion
                                    p 2500
                        td 
                            .row
                                .col-md-6.col-xs-12.income-expense
                                    p
                                        span.text-uppercase Income
                                        | $100,000
                                    p
                                        span.text-uppercase Expense
                                        | $62,420
                                .col-md-6.col-xs-12.canvas-circle
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                        td.text-center 
                            button.tb-btn.open-dt-modal(data-target="reminder-detail") See detail
                    // END: PROMOTION TR
        include blocks/modal/create-reminder.jade
        include blocks/modal/reminder-detail.jade
        .modal.fade#active-reminder(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Active reminder
                    .modal-body.clearfix
                        p This reminder has been expired. Pls extend the expired date to make it be active it again
                        .from-date
                            span From
                            .date-pick
                                input#frm-date(type="text", placeholder="Date")
                                i.fa.fa-calendar
                        .to-date
                            span To
                            .date-pick
                                input#to-date(type="text", placeholder="Date")
                                i.fa.fa-calendar
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Cancel
                        button.accept-del Ok
        .modal.fade#inactive-reminder(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Inactive reminder
                    .modal-body.clearfix
                        p Do you want to make this reminder be inactive? After being inactive, your customer will not receive the notification and redeem
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Cancel
                        button.accept-del Ok
