checkin-html/public/review.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li> <a href="appointment.html" class="menu-itm"><img src="images/promotion_ico.png" alt>Appointment</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="content-head clearfix">
          <h1 class="text-capitalize pull-left">Review</h1>
          <button class="text-center pull-right create-nw">Create new promotion<span>+</span></button>
        </div>
        <div class="table-content">
          <div class="table-responsive">
            <table class="table cus-tb">
              <tr>
                <th class="text-uppercase">Customer</th>
                <th class="text-uppercase">Delivered</th>
                <th class="text-uppercase">Visit</th>
                <th class="text-uppercase">Revenue</th>
                <th class="text-uppercase">Spending</th>
                <th class="text-uppercase">% Spending/Revenue</th>
              </tr>
              <tr class="r-click">
                <td>
                  <div class="customer-td">
                    <p class="st"><span class="blue">Everyone </span>. OFF 10%</p>
                    <p class="nd">First checkin reward<span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span></p>
                    <p class="rd"><span>When:</span>Everytime</p>
                    <p class="th"><span>Expired date:</span>12/07/2018</p>
                  </div>
                </td>
                <td> 
                  <p class="m-text">1000</p>
                </td>
                <td> 
                  <p class="m-text">700</p>
                </td>
                <td> 
                  <p class="m-text">$100,000</p>
                </td>
                <td> 
                  <p class="m-text">$62,412</p>
                </td>
                <td class="text-center">
                  <div class="chrt-ct"><span>62%</span>
                    <div data-bgcolor="#ddd" data-linecolor="#75db79" data-line="5" data-size="70" draw-canvas="" data-percent="62.66749064447474" class="chrt"></div>
                  </div>
                </td>
              </tr>
              <tr class="r-click">
                <td>
                  <div class="customer-td">
                    <p class="st"><span class="blue">Student </span>. Discount $5</p>
                    <p class="nd">Back to school<span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span></p>
                    <p class="rd"><span>When:</span>Everytime</p>
                    <p class="th"><span>Expired date:</span>12/07/2018</p>
                  </div>
                </td>
                <td> 
                  <p class="m-text">1000</p>
                </td>
                <td> 
                  <p class="m-text">700</p>
                </td>
                <td> 
                  <p class="m-text">$100,000</p>
                </td>
                <td> 
                  <p class="m-text">$62,412</p>
                </td>
                <td class="text-center">
                  <div class="chrt-ct"><span>12%</span>
                    <div data-bgcolor="#ddd" data-linecolor="#eda65a" data-line="5" data-size="70" draw-canvas="" data-percent="12" class="chrt"></div>
                  </div>
                </td>
              </tr>
              <tr class="r-click">
                <td>
                  <div class="customer-td">
                    <p class="st"><span class="blue">Vip </span>. OFF 25%</p>
                    <p class="nd">Special occasion<span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span></p>
                    <p class="rd"><span>When:</span>Everytime</p>
                    <p class="th"><span>Expired date:</span>12/07/2018</p>
                  </div>
                </td>
                <td> 
                  <p class="m-text">50</p>
                  <div class="sub-ct">
                    <p><span class="ttl">Text</span><span class="text">100%</span></p>
                    <p><span class="ttl">Email</span><span class="text">90%</span></p>
                  </div>
                </td>
                <td> 
                  <p class="m-text">40</p>
                  <div class="sub-ct">
                    <p><span class="ttl">Claims</span><span class="text">32</span></p>
                    <p><span class="ttl">Redem</span><span class="text">28</span></p>
                  </div>
                </td>
                <td> 
                  <p class="m-text">$50,000</p>
                  <div class="sub-ct"></div>
                </td>
                <td> 
                  <p class="m-text">$40,000</p>
                  <div class="sub-ct"></div>
                </td>
                <td class="text-center">
                  <div class="chrt-ct"><span>80%</span>
                    <div data-bgcolor="#ddd" data-linecolor="#75db79" data-line="5" data-size="70" draw-canvas="" data-percent="80" class="chrt"></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div id="promotion-performance-report" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade">
          <div role="document" class="modal-dialog modal-lg">
            <div class="modal-content cus-modal">
              <div class="modal-head clearfix"><a href="javascript:;" data-dismiss="modal" class="close-modal"><i class="fa fa-close"></i></a>
                <h3 class="pull-left">Promotion applier</h3>
                <button class="pull-right"><i class="fa fa-pencil"> </i>Edit</button>
              </div>
              <div class="modal-body clearfix">
                <div class="ct-left pull-left">
                  <div class="info-head">
                    <p><span class="blue">Everyone</span>. OFF 10%</p>
                    <p>First checkin reward<span data-toggle="tooltip" data-placement="bottom" title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill" class="tt-ic">?</span></p>
                    <p class="rd"><span>When:</span>Everytime</p>
                    <p class="th"><span>Expired date:</span>12/07/2018</p>
                  </div>
                  <div class="numb-blk clearfix">
                    <div class="diliverd pull-left">
                      <div class="h-ttl"><span class="text-uppercase">Dilivered</span>
                        <h3 class="numb">1000</h3>
                      </div>
                      <p><span class="ttl">Text</span><span class="numb">100%</span></p>
                      <p><span class="ttl">Email</span><span class="numb">90%</span></p>
                    </div>
                    <div class="visit pull-left">
                      <div class="h-ttl"><span class="text-uppercase">Visit</span>
                        <h3 class="numb">700</h3>
                      </div>
                      <p><span class="ttl">Claims</span><span class="numb">32</span></p>
                      <p><span class="ttl">Redem</span><span class="numb">28</span></p>
                    </div>
                  </div>
                  <div class="revenue clearfix">
                    <div class="reven pull-left"><span class="text-uppercase">Revenue</span>
                      <h3 class="numb">$100,000</h3>
                    </div>
                    <div class="spend pull-left"><span class="text-uppercase">Spending</span>
                      <h3 class="numb">$62,412</h3>
                    </div>
                  </div>
                </div>
                <div class="ct-ight pull-left">
                  <div class="table-responsive">
                    <table class="table modal-tb">
                      <tr>
                        <th class="text-uppercase"> <span>Customer</span></th>
                        <th class="text-uppercase"> <span>Visit</span></th>
                        <th class="text-uppercase"> <span>Revenue</span></th>
                        <th class="text-uppercase"> <span>Tag</span></th>
                      </tr>
                      <tr>
                        <td> <strong>Irene Bridges</strong></td>
                        <td>01/20/2017</td>
                        <td> <span class="blue">$496</span></td>
                        <td>
                          <div class="tag-red tag-blk"></div>
                        </td>
                      </tr>
                      <tr>
                        <td> <strong>Irene Bridges</strong></td>
                        <td>01/20/2017</td>
                        <td> <span class="blue">$496</span></td>
                        <td>
                          <div class="tag-red tag-blk"></div>
                        </td>
                      </tr>
                      <tr>
                        <td> <strong>Irene Bridges</strong></td>
                        <td>01/20/2017</td>
                        <td> <span class="blue">$496</span></td>
                        <td>
                          <div class="tag-red tag-blk"></div>
                        </td>
                      </tr>
                      <tr>
                        <td> <strong>Irene Bridges</strong></td>
                        <td>01/20/2017</td>
                        <td> <span class="blue">$496</span></td>
                        <td>
                          <div class="tag-yellow tag-blk"></div>
                        </td>
                      </tr>
                      <tr>
                        <td> <strong>Irene Bridges</strong></td>
                        <td>01/20/2017</td>
                        <td> <span class="blue">$496</span></td>
                        <td>
                          <div class="tag-red tag-blk"></div>
                        </td>
                      </tr>
                      <tr>
                        <td> <strong>Irene Bridges</strong></td>
                        <td>01/20/2017</td>
                        <td> <span class="blue">$496</span></td>
                        <td>
                          <div class="tag-yellow tag-blk"></div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

checkin-html/source/views/review.jade
block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Review
            button.text-center.pull-right.create-nw
                | Create new promotion
                span +
        .table-content
            .table-responsive
                table.table.cus-tb
                    tr
                        th.text-uppercase Customer
                        th.text-uppercase Delivered
                        th.text-uppercase Visit
                        th.text-uppercase Revenue
                        th.text-uppercase Spending
                        th.text-uppercase % Spending/Revenue
                    tr.r-click
                        td
                            .customer-td
                                p.st
                                    span.blue Everyone 
                                    | . OFF 10%
                                p.nd
                                    | First checkin reward
                                    span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                                p.rd
                                    span When:
                                    | Everytime
                                p.th
                                    span Expired date:
                                    | 12/07/2018
                        td 
                            p.m-text 1000
                        td 
                            p.m-text 700
                        td 
                            p.m-text $100,000
                        td 
                            p.m-text $62,412
                        td.text-center
                            .chrt-ct
                                span 62%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62.66749064447474")
                    tr.r-click
                        td
                            .customer-td
                                p.st
                                    span.blue Student 
                                    | . Discount $5
                                p.nd
                                    | Back to school
                                    span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                                p.rd
                                    span When:
                                    | Everytime
                                p.th
                                    span Expired date:
                                    | 12/07/2018
                        td 
                            p.m-text 1000
                        td 
                            p.m-text 700
                        td 
                            p.m-text $100,000
                        td 
                            p.m-text $62,412
                        td.text-center
                            .chrt-ct
                                span 12%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#eda65a", data-line="5", data-size="70", draw-canvas="", data-percent="12")
                    tr.r-click
                        td
                            .customer-td
                                p.st
                                    span.blue Vip 
                                    | . OFF 25%
                                p.nd
                                    | Special occasion
                                    span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                                p.rd
                                    span When:
                                    | Everytime
                                p.th
                                    span Expired date:
                                    | 12/07/2018
                        td 
                            p.m-text 50
                            .sub-ct
                                p
                                    span.ttl Text
                                    span.text 100%
                                p
                                    span.ttl Email
                                    span.text 90%
                        td 
                            p.m-text 40
                            .sub-ct
                                p
                                    span.ttl Claims
                                    span.text 32
                                p
                                    span.ttl Redem
                                    span.text 28
                        td 
                            p.m-text $50,000
                            .sub-ct
                        td 
                            p.m-text $40,000
                            .sub-ct
                        td.text-center
                            .chrt-ct
                                span 80%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="80")

        include blocks/modal/promotion-applier-modal.jade
