checkin-html/source/views/staff-management.jade
// Created by User on 6/24/2017
block vars
    -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Staff managament
            button.text-center.pull-right.create-nw(data-tg="new-staff-modal")
                | Create new staff
                span +
        .table-content
            .table-responsive
                table.table.cus-tb.pro-tb
                    tr
                        th.text-uppercase Staff
                        th.text-uppercase Name
                        th.text-uppercase Position
                        th.text-center.text-uppercase Status
                        th.text-center.text-uppercase Access application
                        th.text-center.text-uppercase Access admin page
                        th
                    tr
                        td
                            span 666888
                        td
                            p.staff-name Gussie Jensen
                            p.tb-phone
                                i.fa.fa-phone
                                | (987) 654-3210
                        td
                            span Cashier
                        td.text-center
                            .tb-chk
                                label.lbl-control.chk
                                    input(type="checkbox")
                                    .chk-tick
                        td.text-center
                            span Yes
                        td.text-center
                            span No
                        td.text-center
                            button.tb-btn.open-dt-modal(data-target="edit-staff-modal") See detail
                    // END: PROMOTION TR
        include blocks/modal/create-staff.jade
        include blocks/modal/edit-staff.jade

checkin-html/public/staff-management.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="top-header"><a href="javascript:;" class="responsvie-btn"><i class="fa fa-bars"></i></a>
      <p class="text-center">GoCheckin</p>
      <div class="setting-blk">
        <div class="btn-group">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="sry-only"> </span><span class="fa fa-cog"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Business profile</a></li>
            <li><a href="#">General setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main-menu">
      <ul class="menu">
        <li>
          <p>Main</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/dashboard_ico.png" alt>Dashboard</a></li>
        <li><a href="javascript:;" class="menu-itm"><img src="images/promotion.png" alt>Promotion & reminder<i class="fa fa-angle-down"></i></a>
          <ul class="sub">
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Reminder</a></li>
            <li><a href="#">Special day offer</a></li>
          </ul>
        </li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/member_ico.png" alt>Member list</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/review_ico.png" alt>Review</a></li>
        <li> <a href="javascript:;" class="menu-itm"><img src="images/account_ico.png" alt>Account Management</a></li>
        <li> <a href="appointment.html" class="menu-itm"><img src="images/promotion_ico.png" alt>Appointment</a></li>
        <li>
          <p>More</p>
        </li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">Setting</a></li>
        <li> <a href="javascript:;" class="menu-itm no-pad-left">About us</a></li>
      </ul>
    </div>
    <section class="main">
      <div class="main-content">
        <div class="content-head clearfix">
          <h1 class="text-capitalize pull-left">Staff managament</h1>
          <button data-tg="new-staff-modal" class="text-center pull-right create-nw">Create new staff<span>+</span></button>
        </div>
        <div class="table-content">
          <div class="table-responsive">
            <table class="table cus-tb pro-tb">
              <tr>
                <th class="text-uppercase">Staff</th>
                <th class="text-uppercase">Name</th>
                <th class="text-uppercase">Position</th>
                <th class="text-center text-uppercase">Status</th>
                <th class="text-center text-uppercase">Access application</th>
                <th class="text-center text-uppercase">Access admin page</th>
                <th></th>
              </tr>
              <tr>
                <td><span>666888</span></td>
                <td>
                  <p class="staff-name">Gussie Jensen</p>
                  <p class="tb-phone"><i class="fa fa-phone"></i>(987) 654-3210</p>
                </td>
                <td><span>Cashier</span></td>
                <td class="text-center">
                  <div class="tb-chk">
                    <label class="lbl-control chk">
                      <input type="checkbox">
                      <div class="chk-tick"></div>
                    </label>
                  </div>
                </td>
                <td class="text-center"><span>Yes</span></td>
                <td class="text-center"><span>No</span></td>
                <td class="text-center">
                  <button data-target="edit-staff-modal" class="tb-btn open-dt-modal">See detail</button>
                </td>
              </tr>
              <!-- END: PROMOTION TR-->
            </table>
          </div>
        </div>
        <div id="new-staff-modal" class="cre-pro-modal">
          <div class="container">
            <div class="n-pro-head clearfix">
              <h1 class="pull-left">Create new staff</h1>
              <div class="cre-head-right pull-right"><a href="javascript:;" class="close-c-modal"><i class="fa fa-close"></i></a></div>
            </div>
            <div class="n-pro-body">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-left">
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Staff code</p>
                      <input type="text" placeholder="Input staff code" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Staff name</p>
                      <input type="text" placeholder="Input staff name" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Email</p>
                      <input type="text" placeholder="Input email" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Phone number</p>
                      <input type="text" placeholder="Input phone number" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <div class="switcher"><span>Access check in app</span>
                        <div class="lbl-switch">
                          <label class="switch">
                            <input type="checkbox">
                            <div class="slider round"></div>
                          </label>
                        </div>
                      </div>
                      <div class="switcher"><span>Access admin page</span>
                        <div class="lbl-switch">
                          <label class="switch">
                            <input type="checkbox">
                            <div class="slider round"></div>
                          </label>
                        </div>
                      </div>
                      <div class="switcher"><span>Status</span>
                        <div class="lbl-switch">
                          <label class="switch">
                            <input type="checkbox">
                            <div class="slider round"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="n-button">
                      <div class="row">
                        <div class="col-md-6">
                          <button class="create-now">Create now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: COL left-->
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-right">
                    <div class="instruction">
                      <h3>Instruction</h3>
                      <p>Rule YouTube</p>
                      <p>When you browse through videos at YouTube, which do you usually click first: one with around 10 views or one with around 75,000 views? If you’re normal, then you’re much more likely to click on YouTube videos that have a lot of clicks already. The logic is simple. The more views a video has, the more interesting the video must be. After all, why would a video gain so many views if it’s dull or uninteresting, right? Indeed, the bandwagon mentality works very well at YouTube – so why not use it to market your videos at YouTube?</p>
                      <p>Why Buy YouTube Views?</p>
                      <p>Buying YouTube views is far more practical than asking friends, acquaintances, etc. to view your YouTube video. By investing a small amount, you can have as much as 150,000 views on your YouTube video in 48 hours. After 48 hours, other people are going to notice your video and think: “Wow, this video has so many hits; I’ve just got to see what the buzz is about.” In result, your YouTube video will get even more views than you have initially paid for, and more and more people are going to be exposed to the marketing message contained in your video.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="edit-staff-modal" class="cre-pro-modal">
          <div class="container edt-ct">
            <div class="n-pro-head clearfix">
              <h1 class="pull-left">Edit staff</h1>
              <div class="cre-head-right pull-right"><a href="javascript:;" class="close-c-modal"><i class="fa fa-close"></i></a></div>
            </div>
            <div class="n-pro-body">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-left">
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Staff code</p>
                      <input type="text" placeholder="Input staff code" value="12345" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Staff name</p>
                      <input type="text" placeholder="Input staff name" value="Alice McGee" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Email</p>
                      <input type="text" placeholder="Input email" value="alicemcgee@gmail.com" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <p class="col-ttl">Phone number</p>
                      <input type="text" placeholder="Input phone number" value="(978) 654-3210" class="ipt">
                    </div>
                    <div class="n-c-left-itm">
                      <div class="switcher"><span>Access check in app</span>
                        <div class="lbl-switch">
                          <label class="switch">
                            <input type="checkbox">
                            <div class="slider round"></div>
                          </label>
                        </div>
                      </div>
                      <div class="switcher"><span>Access admin page</span>
                        <div class="lbl-switch">
                          <label class="switch">
                            <input type="checkbox" checked>
                            <div class="slider round"></div>
                          </label>
                        </div>
                      </div>
                      <div class="switcher"><span>Status</span>
                        <div class="lbl-switch">
                          <label class="switch">
                            <input type="checkbox">
                            <div class="slider round"></div>
                          </label>
                        </div>
                      </div>
                      <div class="switcher"><span>Last login</span>
                        <div class="lbl-switch c-switch"><span>30 Dec 2017</span></div>
                      </div>
                      <div class="switcher"><span>Create at</span>
                        <div class="lbl-switch c-switch"><span>309 Jul 2015</span></div>
                      </div>
                    </div>
                    <div class="n-button">
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <button data-toggle="modal" data-target="#del-staff" class="save-draft">Delete staff</button>
                        </div>
                        <div class="col-md-6">
                          <button class="create-now">Save edit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: COL left-->
                <div class="col-md-6 col-xs-12">
                  <div class="n-col-right">
                    <div class="instruction">
                      <h3>Instruction</h3>
                      <p>Rule YouTube</p>
                      <p>When you browse through videos at YouTube, which do you usually click first: one with around 10 views or one with around 75,000 views? If you’re normal, then you’re much more likely to click on YouTube videos that have a lot of clicks already. The logic is simple. The more views a video has, the more interesting the video must be. After all, why would a video gain so many views if it’s dull or uninteresting, right? Indeed, the bandwagon mentality works very well at YouTube – so why not use it to market your videos at YouTube?</p>
                      <p>Why Buy YouTube Views?</p>
                      <p>Buying YouTube views is far more practical than asking friends, acquaintances, etc. to view your YouTube video. By investing a small amount, you can have as much as 150,000 views on your YouTube video in 48 hours. After 48 hours, other people are going to notice your video and think: “Wow, this video has so many hits; I’ve just got to see what the buzz is about.” In result, your YouTube video will get even more views than you have initially paid for, and more and more people are going to be exposed to the marketing message contained in your video.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="del-staff" role="dialog" class="modal fade">
            <div role="document" class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                  <p>Do you want to remove this staff member. This account will not be able to access any system after that.</p>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="cancel-del">Cancel</button>
                  <button class="accept-del">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>
