checkin-html/public/survey.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="survey-bd">
    <section class="main survey">
      <div class="survey-content container">
        <div class="survey-ct"><a href="javascript:;" class="back-btn hide"><i class="fa fa-close"></i></a>
          <div class="survey-ttl">
            <h3 class="text-center">Nail Spa</h3>
            <p class="text-center">(832) 234-3421</p>
            <h1 class="text-center">Are you satisfied with our services?</h1>
          </div>
          <div class="survey-dt">
            <div class="is-satisfied">
              <div class="row">
                <div class="col-md-4 col-xs-4">
                  <div class="icon-label happy">
                    <input id="happy" type="radio" name="survey_emo" value="Happy">
                    <label for="happy"></label>
                  </div>
                </div>
                <div class="col-md-4 col-xs-4">
                  <div class="icon-label neutral">
                    <input id="nothing" type="radio" name="survey_emo" value="Nothing">
                    <label for="nothing"></label>
                  </div>
                </div>
                <div class="col-md-4 col-xs-4">
                  <div class="icon-label unhappy">
                    <input id="unhappy" type="radio" name="survey_emo" value="Sad">
                    <label for="unhappy"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="happy-frm hide">
              <h3 class="text-center">We really appreciate it.</h3>
              <div class="sad-cmt hide">
                <p class="text-center">Your comments are important to us</p>
                <textarea name="survey-comment" placeholder="Your comment" rows="5"></textarea>
              </div>
              <div class="submit-frm text-center">
                <button>Submit</button>
              </div>
            </div>
          </div>
          <!-- END: VOTE FORM-->
          <div class="final-step text-center hide">
            <div class="step-ttl">
              <h3 class="text-center">Thank you for taking the time to give us feedback. We really appreciate it.</h3>
            </div>
            <div class="review-link"><a href="#" class="gg">Review us on Google</a><a href="#" class="yelp">Review us on Yelp</a><a href="#" class="fb">Review us on Facebook</a></div><a href="#" class="no-acc">I don't have these accounts</a>
            <div class="no-account-cmt hide">
              <div class="step-ttl">
                <h3 class="text-center">Your feedback matters to us. Tell us what we did well.</h3>
              </div>
              <textarea name="no-acc-comment" placeholder="Your feedback" rows="5"></textarea>
              <div class="submit-no-acc text-center">
                <button>Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: SURVEY-CONTENT-->
    </section>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>

checkin-html/source/views/survey.jade
block vars
  -title="Survey"
extends layouts/layout-survey
block main
    .survey-content.container
        .survey-ct
            a.back-btn.hide(href="javascript:;")
                i.fa.fa-close
            .survey-ttl
                h3.text-center Nail Spa
                p.text-center (832) 234-3421
                h1.text-center Are you satisfied with our services?
            .survey-dt
                //- form
                .is-satisfied
                    .row
                        .col-md-4.col-xs-4
                            .icon-label.happy
                                input#happy(type="radio", name="survey_emo", value="Happy")
                                label(for="happy")
                        .col-md-4.col-xs-4
                            .icon-label.neutral
                                input#nothing(type="radio", name="survey_emo", value="Nothing")
                                label(for="nothing")
                        .col-md-4.col-xs-4
                            .icon-label.unhappy
                                input#unhappy(type="radio", name="survey_emo", value="Sad")
                                label(for="unhappy")
                .happy-frm.hide
                    h3.text-center We really appreciate it.
                    .sad-cmt.hide
                        p.text-center Your comments are important to us
                        textarea(name="survey-comment", placeholder="Your comment", rows="5")
                    .submit-frm.text-center
                        button Submit
            // END: VOTE FORM
            .final-step.text-center.hide
                .step-ttl
                    h3.text-center Thank you for taking the time to give us feedback. We really appreciate it.
                .review-link
                    a.gg(href="#") Review us on Google
                    a.yelp(href="#") Review us on Yelp
                    a.fb(href="#") Review us on Facebook
                a.no-acc(href="#") I don't have these accounts
                .no-account-cmt.hide
                    .step-ttl
                        h3.text-center Your feedback matters to us. Tell us what we did well.
                    textarea(name="no-acc-comment", placeholder="Your feedback", rows="5")
                    .submit-no-acc.text-center
                        button Submit
    // END: SURVEY-CONTENT
