checkin-html/source/views/web-booking2.jade
block vars
  -title="Appointment"
extends layouts/layout-survey
block main
    .web-book-container.container
        .row
            .col-md-3.w-b-sidebar
                .shop-inf
                    .avatar
                        a(href="#")
                            img.img-circle(src="images/gravatar.png", alt="Shop nails 1")
                    .shop-name
                        a.text-capitalize(href="#") The Nails Pro Shop
                    p.shop-info
                        a(href="mailto:xfiremen12345@gmail.com") xfiremen12345@gmail.com
                    p.shop-info (979) 217-2012
                .shop-w-hour
                    p
                        span.ttl Mon:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Tue:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Wed:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Thu:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Fri:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Sat:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Sun:
                        span.w-hour 9:00 AM - 5:00 PM
                    strong Open today until 5:00 PM
                    a.text-uppercase.appoint-btn(href="web-booking.html") Booking an appointment
                // END: SHOP WORK HOURS
                //- .side-menu
                //-     .side-menu-itm
                //-         p.active Select service
                //-         .service-selected.hide
                //-             span.service Nail - 1hour
                //-             a.reselect(href="#") Edit your selection
                //-     .side-menu-itm
                //-         p Select date & time
                //-         .date-selected.hide
                //-             a.reselect-time(href="#") 
                //-                 span.date-book Wednesday, October 18, 2017
                //-                 span.time-book 12:00 PM - 12:30 PM US Central
                //-                 span.staff-book Toan Nguyen
                //-     .side-menu-itm
                //-         p Your info
            // END: SIDEBAR
            .col-md-9.w-b-content.w-b-inf-ct
                h3.w-ttl Our Services
                include blocks/web-booking/select-service.jade
                .w-b-our-staff
                    h3.w-ttl Our Staff
                    .staff-a-list
                        .staff-a-itm.clearfix
                            .staff-ava
                                img.img-circle(src="images/staff-ava.png", alt="")
                            .staff-dt
                                p Toan Nguyen
                                button.text-uppercase.appoint-btn.select-staff(data-staff="Toan Nguyen") Book with Toan
                        .staff-a-itm.clearfix
                            .staff-ava
                                img.img-circle(src="images/staff-ava.png", alt="")
                            .staff-dt
                                p Alexander Petrov
                                button.text-uppercase.appoint-btn.select-staff(data-staff="Alexander Petrov") Book with Alex
                        .staff-a-itm.clearfix
                            .staff-ava
                                img.img-circle(src="images/staff-ava.png", alt="")
                            .staff-dt
                                p Artour Babaev
                                button.text-uppercase.appoint-btn.select-staff(data-staff="Artour Babaev") Book with Artour
            // END: WEB BOOKING CONTENT
        

checkin-html/public/web-booking2.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Appointment</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="survey-bd">
    <section class="main survey">
      <div class="web-book-container container">
        <div class="row">
          <div class="col-md-3 w-b-sidebar">
            <div class="shop-inf">
              <div class="avatar"><a href="#"><img src="images/gravatar.png" alt="Shop nails 1" class="img-circle"></a></div>
              <div class="shop-name"><a href="#" class="text-capitalize">The Nails Pro Shop</a></div>
              <p class="shop-info"><a href="mailto:xfiremen12345@gmail.com">xfiremen12345@gmail.com</a></p>
              <p class="shop-info">(979) 217-2012</p>
            </div>
            <div class="shop-w-hour">
              <p><span class="ttl">Mon:</span><span class="w-hour">9:00 AM - 5:00 PM</span></p>
              <p><span class="ttl">Tue:</span><span class="w-hour">9:00 AM - 5:00 PM</span></p>
              <p><span class="ttl">Wed:</span><span class="w-hour">9:00 AM - 5:00 PM</span></p>
              <p><span class="ttl">Thu:</span><span class="w-hour">9:00 AM - 5:00 PM</span></p>
              <p><span class="ttl">Fri:</span><span class="w-hour">9:00 AM - 5:00 PM</span></p>
              <p><span class="ttl">Sat:</span><span class="w-hour">9:00 AM - 5:00 PM</span></p>
              <p><span class="ttl">Sun:</span><span class="w-hour">9:00 AM - 5:00 PM</span></p><strong>Open today until 5:00 PM</strong><a href="web-booking.html" class="text-uppercase appoint-btn">Booking an appointment</a>
            </div>
            <!-- END: SHOP WORK HOURS-->
          </div>
          <!-- END: SIDEBAR-->
          <div class="col-md-9 w-b-content w-b-inf-ct">
            <h3 class="w-ttl">Our Services</h3>
            <div class="w-b-service">
              <div class="w-b-service-list">
                <div class="service-itm">
                  <p class="service name">Nail</p><span class="ser-inf">1 hour - $15.00</span>
                  <button data-service="Nail" data-time="1 Hour" class="book-btn text-uppercase appoint-btn">Book now</button>
                </div>
                <!-- END: SERVICE ITEM-->
                <div class="service-itm">
                  <p class="service name">Hair cut</p><span class="ser-inf">1 hour - $15.00</span>
                  <button data-service="Hair cut" data-time="1 Hour" class="book-btn text-uppercase appoint-btn">Book now</button>
                </div>
                <!-- END: SERVICE ITEM-->
                <div class="service-itm">
                  <p class="service name">Badicure</p><span class="ser-inf">1 hour - $15.00</span>
                  <button data-service="Badicure" data-time="1 Hour" class="book-btn text-uppercase appoint-btn">Book now</button>
                </div>
                <!-- END: SERVICE ITEM-->
              </div>
            </div>
            <div class="w-b-our-staff">
              <h3 class="w-ttl">Our Staff</h3>
              <div class="staff-a-list">
                <div class="staff-a-itm clearfix">
                  <div class="staff-ava"><img src="images/staff-ava.png" alt="" class="img-circle"></div>
                  <div class="staff-dt">
                    <p>Toan Nguyen</p>
                    <button data-staff="Toan Nguyen" class="text-uppercase appoint-btn select-staff">Book with Toan</button>
                  </div>
                </div>
                <div class="staff-a-itm clearfix">
                  <div class="staff-ava"><img src="images/staff-ava.png" alt="" class="img-circle"></div>
                  <div class="staff-dt">
                    <p>Alexander Petrov</p>
                    <button data-staff="Alexander Petrov" class="text-uppercase appoint-btn select-staff">Book with Alex</button>
                  </div>
                </div>
                <div class="staff-a-itm clearfix">
                  <div class="staff-ava"><img src="images/staff-ava.png" alt="" class="img-circle"></div>
                  <div class="staff-dt">
                    <p>Artour Babaev</p>
                    <button data-staff="Artour Babaev" class="text-uppercase appoint-btn select-staff">Book with Artour</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END: WEB BOOKING CONTENT-->
        </div>
      </div>
    </section>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>
