checkin-html/source/views/web-booking.jade
block vars
  -title="Appointment"
extends layouts/layout-survey
block main
    .web-book-container.container
        .row
            .col-md-3.w-b-sidebar
                .shop-inf
                    .avatar
                        a(href="#")
                            img.img-circle(src="images/gravatar.png", alt="Shop nails 1")
                    .shop-name
                        a.text-capitalize(href="#") The Nails Pro Shop
                .side-menu
                    .side-menu-itm
                        p.active Select service
                        .service-selected.hide
                            span.service Nail - 1hour
                            a.reselect(href="#") Edit your selection
                    .side-menu-itm
                        p Select date & time
                        .date-selected.hide
                            a.reselect-time(href="#") 
                                span.date-book Wednesday, October 18, 2017
                                span.time-book 12:00 PM - 12:30 PM US Central
                                span.staff-book Toan Nguyen
                    .side-menu-itm
                        p Your info
            // END: SIDEBAR
            .col-md-9.w-b-content
                include blocks/web-booking/select-service.jade
                include blocks/web-booking/select-date.jade
                include blocks/web-booking/client-info.jade
            // END: WEB BOOKING CONTENT
        include blocks/web-booking/confirm-book.jade
        

checkin-html/public/web-booking.html
<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Appointment</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600,700italic,800italic,400,700,800,300&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="survey-bd">
    <section class="main survey">
      <div class="web-book-container container">
        <div class="row">
          <div class="col-md-3 w-b-sidebar">
            <div class="shop-inf">
              <div class="avatar"><a href="#"><img src="images/gravatar.png" alt="Shop nails 1" class="img-circle"></a></div>
              <div class="shop-name"><a href="#" class="text-capitalize">The Nails Pro Shop</a></div>
            </div>
            <div class="side-menu">
              <div class="side-menu-itm">
                <p class="active">Select service</p>
                <div class="service-selected hide"><span class="service">Nail - 1hour</span><a href="#" class="reselect">Edit your selection</a></div>
              </div>
              <div class="side-menu-itm">
                <p>Select date & time</p>
                <div class="date-selected hide"><a href="#" class="reselect-time"> <span class="date-book">Wednesday, October 18, 2017</span><span class="time-book">12:00 PM - 12:30 PM US Central</span><span class="staff-book">Toan Nguyen</span></a></div>
              </div>
              <div class="side-menu-itm">
                <p>Your info</p>
              </div>
            </div>
          </div>
          <!-- END: SIDEBAR-->
          <div class="col-md-9 w-b-content">
            <div class="w-b-service">
              <div class="w-b-service-list">
                <div class="service-itm">
                  <p class="service name">Nail</p><span class="ser-inf">1 hour - $15.00</span>
                  <button data-service="Nail" data-time="1 Hour" class="book-btn text-uppercase appoint-btn">Book now</button>
                </div>
                <!-- END: SERVICE ITEM-->
                <div class="service-itm">
                  <p class="service name">Hair cut</p><span class="ser-inf">1 hour - $15.00</span>
                  <button data-service="Hair cut" data-time="1 Hour" class="book-btn text-uppercase appoint-btn">Book now</button>
                </div>
                <!-- END: SERVICE ITEM-->
                <div class="service-itm">
                  <p class="service name">Badicure</p><span class="ser-inf">1 hour - $15.00</span>
                  <button data-service="Badicure" data-time="1 Hour" class="book-btn text-uppercase appoint-btn">Book now</button>
                </div>
                <!-- END: SERVICE ITEM-->
              </div>
            </div>
            <div class="select-date hide">
              <div class="datepicker-wrap">
                <input type="text" id="datepicker" aria-haspopup="true" aria-expanded="true" aria-owns="datepicker_root" aria-readonly="false" class="hide sq-pickadate__input pickadate ember-view ember-text-field picker__input picker__input--active picker__input--target">
              </div>
              <!-- END: DATEPICKER-->
              <div class="staff-avai">
                <h3>Staff available</h3>
                <div class="staff-a-list">
                  <div class="staff-a-itm clearfix">
                    <div class="staff-ava"><img src="images/staff-ava.png" alt="" class="img-circle"></div>
                    <div class="staff-dt">
                      <p>Toan Nguyen</p>
                      <button data-staff="Toan Nguyen" class="text-uppercase appoint-btn select-staff">Book with Toan</button>
                    </div>
                  </div>
                  <div class="staff-a-itm clearfix">
                    <div class="staff-ava"><img src="images/staff-ava.png" alt="" class="img-circle"></div>
                    <div class="staff-dt">
                      <p>Alexander Petrov</p>
                      <button data-staff="Alexander Petrov" class="text-uppercase appoint-btn select-staff">Book with Alex</button>
                    </div>
                  </div>
                  <div class="staff-a-itm clearfix">
                    <div class="staff-ava"><img src="images/staff-ava.png" alt="" class="img-circle"></div>
                    <div class="staff-dt">
                      <p>Artour Babaev</p>
                      <button data-staff="Artour Babaev" class="text-uppercase appoint-btn select-staff">Book with Artour</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: STAFF AVAILABLE-->
              <div class="work-hours">
                <h3>Working hours</h3>
                <p class="notes"> <span>Business Time Zone:</span>US Central</p>
                <p class="notes"> <span>Currently viewing:</span><a href="#">US Central</a></p>
                <div class="work-hour-list">
                  <div class="row">
                    <div class="col-md-4 work-hour-col col-xs-4">
                      <div class="work-morning text-center">
                        <p class="text-uppercase">Morning</p>
                        <button data-time="8:00 AM" class="work-h-itm">8:00 AM</button>
                        <button data-time="8:00 AM" class="work-h-itm">8:30 AM</button>
                        <button data-time="8:00 AM" class="work-h-itm">9:00 AM</button>
                        <button data-time="8:00 AM" class="work-h-itm">9:30 AM</button>
                        <button data-time="8:00 AM" class="work-h-itm">10:00 AM</button>
                        <button data-time="8:00 AM" class="work-h-itm">10:30 AM</button>
                      </div>
                    </div>
                    <div class="col-md-4 work-hour-col col-xs-4">
                      <div class="work-afternoon text-center">
                        <p class="text-uppercase">Afternoon</p>
                        <button data-time="8:00 AM" class="work-h-itm">12:00 PM</button>
                        <button data-time="8:00 AM" class="work-h-itm">12:30 PM</button>
                        <button data-time="8:00 AM" class="work-h-itm">1:00 PM</button>
                        <button data-time="8:00 AM" class="work-h-itm">2:00 PM</button>
                      </div>
                    </div>
                    <div class="col-md-4 work-hour-col col-xs-4">
                      <div class="work-evening text-center">
                        <p class="text-uppercase">Evening</p>
                        <button data-time="8:00 AM" class="work-h-itm disabled">No Available</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: WORKING HOURS-->
            </div>
            <div class="client-inf hide">
              <h3>How do we say hello?</h3>
              <p>Your name, email, and phone number will be used to send you appointment confirmations and reminders. We’ll also be able to call or text you if anything changes.</p>
              <form class="client-frm">
                <div class="from-group">
                  <div class="row">
                    <div class="col-md-6 col-xs-12">
                      <label class="appoint-lbl">First name</label>
                      <input type="text" class="appoint-ipt">
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <label class="appoint-lbl">Last name</label>
                      <input type="text" class="appoint-ipt">
                    </div>
                  </div>
                </div>
                <div class="from-group">
                  <div class="row">
                    <div class="col-md-6 col-xs-12">
                      <label class="appoint-lbl">Email</label>
                      <input type="text" class="appoint-ipt">
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <label class="appoint-lbl">Phone</label>
                      <input type="text" class="appoint-ipt">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="appoint-lbl">Appointment notes</label>
                  <textarea rows="5" class="appoint-area"></textarea>
                </div>
                <div class="form-group text-right">
                  <button class="appoint-btn confirm-booking">Book appointment</button>
                </div>
              </form>
            </div>
          </div>
          <!-- END: WEB BOOKING CONTENT-->
        </div>
        <div class="confirm-book hide">
          <div class="confirm-head clearfix">
            <div class="ava"><img src="images/client-ava.png" alt="" class="img-circle"></div>
            <div class="inf">
              <p>Hello Helen,</p>
              <h3 class="text-capitalize">Appointment confirmed</h3>
            </div>
          </div>
          <div class="confirm-date">
            <p>We're looking forward to seeing you on Oct. 20 at 9:00 AM</p>
          </div>
          <div class="confirm-detail">
            <div class="row">
              <div class="col-md-9 col-xs-12">
                <div class="confirm-dt">
                  <div class="itm">
                    <h3>When</h3>
                    <p>Friday, October 20, 2017 </p>
                    <p>9:00 AM - 10:00 AM (US Central)</p>
                  </div>
                  <div class="itm">
                    <h3>Where</h3>
                    <p>(979) 217-2012</p>
                  </div>
                  <div class="itm">
                    <h3>What service</h3>
                    <p>Nail</p>
                  </div>
                  <div class="itm">
                    <h3>With staff</h3>
                    <p>Toan Nguyen</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-xs-12">
                <div class="confirm-btn">
                  <button class="text-uppercase appoint-btn book-another">Book another</button>
                  <button class="text-uppercase appoint-btn reschedule">Reschedule</button>
                  <button class="text-uppercase appoint-btn">Cancel appointment</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- JS: SCRIPTS-->
    <script src="js/libs.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/start.js"></script>
  </body>
</html>
